@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(203, 203, 219);
}

.hide {
  display: none;
}

.card {
  text-align:  center;
  max-width: 300px;
  margin: 10px;
  padding: 5px
}

.board {
  
}

.btn {
  margin: 5px;
}